@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&family=Yellowtail&display=swap');

html {
  background-color: #051a2e;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  overflow-y: auto;
  min-height: 100vh;
  height: 100%;
  position: relative;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.125rem;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 16rem;
  height: 100%;
  padding: 1.25rem 0;
  transition: all 0.5s ease;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  position: absolute;
  z-index: 5;
  height: 100vh;
}

.route-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: calc(100% - 218px);
}

::backdrop,
dialog + .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 11rem;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dd-caret {
  transition-duration: 0.3s;
  transition-property: transform;
}

.dropdown:hover .dd-caret {
  transform: rotate(180deg);
}

hr {
  border-top: 1px solid #3c4949;
}

p.initial-letter::first-letter {
  initial-letter: 2;
  color: #e08a2f;
  margin: 0 0.2rem 0 0;
}

p.initial-letter-red::first-letter {
  initial-letter: 2;
  color: #ff554d;
  margin: 0 0.2rem 0 0;
}
